body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.hero {
  background-color: #f2f2f2;
  padding: 40px;
  text-align: center;
}
.parserBody {
  height: 100vh;
  padding: 100px;
}
.hero input[type="file"] {
  display: none;
}
#fileInput:hover {
  cursor: pointer;
}
.hero label {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}
.fileNameDisplay {
  background-color: #2a2a2a;
  color: #fff;
  padding: 10px 0px;
  cursor: pointer;
  margin: 0 0px;
  /* margin-top: 20px; */

  width: 100%;
  font-size: 20px;
}

.hero button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.jsoneditor-poweredBy {
  display: none;
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
}
.para {
  transition: height 6.5s;
}
.form .para p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #000000;
  font-family: Arial;
}
.form input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
.form button,
.jsonEditorBtnCont button {
  display: inline-block !important;
  padding: 10px 20px !important;
  color: #fa65b1 !important;
  border: 1px solid #fa65b1 !important;
  border-radius: 23px;
  font-weight: 500 !important;
  letter-spacing: 0.3px !important;
  transition: all 0.5s;
  margin-top: 10px;
}
.buttonDiv {
  display: flex;
  justify-content: center;
}
.form .para {
  border: 4px dashed #fa65b1;
}

.form button:hover,
.jsonEditorBtnCont button:hover {
  background-color: #fa65b1;
  color: #fff !important;
}
.jsonEditorBtnCont {
  display: none;
  flex-direction: column;
  align-items: center;
}
.form button:active,
.jsonEditorBtnCont button:active {
  border: 0;
}
.js-preloader {
  position: unset !important;
  width: 100%;
  height: 100%;
}
.js-preloader.loaded {
  position: fixed !important;
  width: 100%;
  height: 100%;
}
.border-first-button a {
}

.border-first-button a:hover {
}
